# JetBrains Rider
.idea/
*.sln.DotSettings
*.sln.DotSettings.user

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/